html {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 100vh;
    display: grid;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

.calculator {
    place-self: center;
    height: 500px;
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 300px;
    border-radius: 10px;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2rem);
}

.calculator .screen {
    height: 1.25em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 60px;
    padding: 10px;
    color: #384e6b;
    background: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.7),
            rgba(255, 255, 255, 0.3));
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.calculator .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
}

button {
    background-color: #2b6777;
    color: white;
    border-radius: .25em;
    border: none;
    font-size: 22px;
    font-family: monospace;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

button:hover {
    opacity: 0.75;
}

button:active {
    opacity: 0.6;
}

button.number {
    background-color: white;
    color: #384e6b;
}

button.evaluate {
    background-color: darkcyan;
}

button.AC {
    background-color: darkred;
}

button:disabled {
    opacity: 0.5;
}